[Desktop Entry]
Name=Sailbook
Exec=qmlscene %u qml/Main.qml
Icon=img/sailbook.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=communication
X-Ubuntu-Splash-Image=img/splash.png
