[Desktop Entry]
Name=Sailbook
Exec=Sailbook
Icon=Sailbook/Sailbook.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#3F548D
Name[nl]=sailbook.desktop
